*, ::before, ::after {
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
